/*Mixin*/
/*Cambios gral*/
* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url(./multimedia/background.jpg);
  background-size: 100vw 100vh;
  background-attachment: fixed;
}

/*Nav*/
header {
  background-color: black;
  color: #fff;
  padding: 15px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.logo img {
  width: 100px;
  height: auto;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

nav ul:hover {
  color: rgb(231, 214, 214);
}

nav li {
  margin-left: 20px;
  transform: scale(1, 2, 1);
}

nav li:first-child {
  margin-left: 0;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

/*Slider*/
.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-inner {
  max-width: 1000px;
}

.carousel-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 800px;
  width: 1000px;
}

.carousel-item img {
  max-height: 100%;
  width: auto;
}

.carousel-text {
  text-align: center;
  color: #fff;
}

.carousel-maps-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
}

/*footer*/
footer {
  padding-top: 166px;
  margin-right: 15px;
}

/*Contacto*/
form {
  width: 500px;
  height: 500px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.404);
  padding: 10px 20px;
  padding-bottom: 200px;
  box-sizing: border-box;
  margin-top: 200px;
  border-radius: 7px;
}

form h2 {
  color: white;
  text-align: center;
  margin: 0px;
  margin-bottom: 20px;
  font-size: 30px;
}

form input, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none;
}

form textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

#boton {
  background-color: black;
  color: white;
  padding: 20px;
}

#boton:hover {
  cursor: pointer;
}

@media (max-width: 480px) {
  form {
    width: 100%;
  }
}
.main-container {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  margin: 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content-box {
  flex: 1;
  margin-right: 50px;
}

.content-box p {
  margin: 0;
  padding-top: 45px;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container img {
  width: 200px;
  margin-top: 50px;
}

@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
    align-items: center;
  }
  .content-box,
  .image-container {
    width: 100%;
  }
}
/*Catalogo*/
.elemento-1 .catalogo-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
.elemento-1 .catalogo-item img {
  width: 100%;
  max-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
.elemento-1 .catalogo-item .nombre {
  font-weight: bold;
  margin-top: 8px;
}
.elemento-1 .catalogo-item .precio {
  color: #ffffff;
  margin-top: 4px;
  background-color: rgba(179, 177, 177, 0.7254901961);
  border-radius: 5px;
}

.elemento-2 .catalogo-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
.elemento-2 .catalogo-item img {
  width: 100%;
  max-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
.elemento-2 .catalogo-item .nombre {
  font-weight: bold;
  margin-top: 8px;
}
.elemento-2 .catalogo-item .precio {
  color: #ffffff;
  margin-top: 4px;
  background-color: rgba(179, 177, 177, 0.7254901961);
  border-radius: 5px;
}

.elemento-3 .catalogo-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
.elemento-3 .catalogo-item img {
  width: 100%;
  max-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
.elemento-3 .catalogo-item .nombre {
  font-weight: bold;
  margin-top: 8px;
}
.elemento-3 .catalogo-item .precio {
  color: #ffffff;
  margin-top: 4px;
  background-color: rgba(179, 177, 177, 0.7254901961);
  border-radius: 5px;
}

.elemento-4 .catalogo-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
.elemento-4 .catalogo-item img {
  width: 100%;
  max-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
.elemento-4 .catalogo-item .nombre {
  font-weight: bold;
  margin-top: 8px;
}
.elemento-4 .catalogo-item .precio {
  color: #ffffff;
  margin-top: 4px;
  background-color: rgba(179, 177, 177, 0.7254901961);
  border-radius: 5px;
}

.elemento-5 .catalogo-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
.elemento-5 .catalogo-item img {
  width: 100%;
  max-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
.elemento-5 .catalogo-item .nombre {
  font-weight: bold;
  margin-top: 8px;
}
.elemento-5 .catalogo-item .precio {
  color: #ffffff;
  margin-top: 4px;
  background-color: rgba(179, 177, 177, 0.7254901961);
  border-radius: 5px;
}

.elemento-6 .catalogo-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
.elemento-6 .catalogo-item img {
  width: 100%;
  max-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
.elemento-6 .catalogo-item .nombre {
  font-weight: bold;
  margin-top: 8px;
}
.elemento-6 .catalogo-item .precio {
  color: #ffffff;
  margin-top: 4px;
  background-color: rgba(179, 177, 177, 0.7254901961);
  border-radius: 5px;
}/*# sourceMappingURL=estilo.css.map */